<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dao.UserInfoDao">


    <select id="getUsersCount" resultType="int" >
        select count(*) from  userinfo
    </select>
    <select id="getPagedUsers" resultType="userinfo">
        select * from userinfo limit #{offset},#{pageSize}
    </select>
    <select id="getUsersByRowBound" resultType="userinfo">
       select * from userinfo
    </select>

    <select id="getUsersByPageHelper" resultType="userinfo">
        select * from userinfo
    </select>
</mapper>